<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teeda HTML example2</title>
</head>
<body>
    <te:includeChildBody id="layoutChildBody"/>
<span id="layout1Label">dummy</span>
<label id="layout2Label">dummy</label>
<span id="common1Label">dummy</span>
<label id="common2Label">dummy</label><br />
<img id="layoutImg1" src="../../img/seasar_banner.gif" alt="layout1Label" />
<img id="layoutImg2" src="../../img/seasar_banner.gif" alt="common1Label" />
</body>
</html>