<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>label example</title>
</head>
<body>
<form id="form">
	<h3>要素にラベル</h3>
	<label id="aaa">hoge</label><br/>
	<label id="bbb">foo</label><br/>
	<label id="ccc">bar</label><br/>
	<label id="ddd">moge</label><br/>
	<label id="eee">テンプレートのラベル</label><br/>
	<a id="goLabel" href="label.html"><span id="linkLabel">テンプレートのラベル</span></a><br />
	<span id="fff" title="dummy"/><br />
	<span id="aaaLabel">dummy</span><br />
	<div id="aaaLabel-2">dummy</div><br />
	<table border="1" width="100%">
		<caption id="bbbLabel">dummy</caption>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	</table>

	<h3>属性にラベル</h3>
	<table id="table" border="1" title="tableLabel">
	<tr>
	<td><a id="goLabel-2" href="label.html" title="linkLabel">リンク</a></td>
	</tr>
	<tr>
	<td><a id="goLabel-3" href="label.html" title="dynamicProperyLabel">ダイナミックプロパティから</a></td>
	</tr>
	<tr>
	<td><img id="img" src="../../img/seasar_banner.gif" alt="imgLabel" /></td>
	</tr>
	<tr>
	<td><input type="submit" id="goLabel-4" value="buttonLabel" /></td>
	</tr>
	<tr>
	<td><input type="submit" id="goLabelspan" value="buttonLabel" /></td>
	</tr>
	</table>
</form>
</body>
</html>