<html xmlns:f="http://java.sun.com/jsf/core"
	xmlns:te="http://www.seasar.org/teeda/extension"
	xmlns:h="http://java.sun.com/jsf/html">
<title>Tree</title>
<body>
<form id="treeForm" name="treeForm" method="post"
	enctype="application/x-www-form-urlencoded" submitted="true"
	action="/teeda-html-example/view/tree/tree2.html"><input
	type="hidden" id="treeTreeSave" name="treeForm:treeTreeSave"
	value="rO0ABXNyAC9vcmcuc2Vhc2FyLnRlZWRhLmV4dGVuc2lvbi51dGlsLkNvbXBvbmVudEhvbGRlcgAAAAAAAAABAgADTAAOYXJyYXlDbGFzc05hbWV0ABJMamF2YS9sYW5nL1N0cmluZztMABJjb21wb25lbnRDbGFzc05hbWVxAH4AAUwABXZhbHVldAAQTGphdmEvdXRpbC9MaXN0O3hwcHQAMW9yZy5zZWFzYXIudGVlZGEuZXh0ZW5zaW9uLmNvbXBvbmVudC5UcmVlTm9kZUltcGxzcgATamF2YS51dGlsLkFycmF5TGlzdHiB0h2Zx2GdAwABSQAEc2l6ZXhwAAAAAXcEAAAACnNyADFvcmcuc2Vhc2FyLnRlZWRhLmV4dGVuc2lvbi5jb21wb25lbnQuVHJlZU5vZGVJbXBsAAAAAAAAAAECAAVaAARsZWFmTAAIY2hpbGRyZW5xAH4AAkwAC2Rlc2NyaXB0aW9ucQB+AAFMAAR0eXBlcQB+AAFMAAV2YWx1ZXQAEkxqYXZhL2xhbmcvT2JqZWN0O3hwAHNyABRqYXZhLnV0aWwuTGlua2VkTGlzdAwpU11KYIgiAwAAeHB3BAAAAAFzcQB+AAcAc3EAfgAKdwQAAAACc3EAfgAHAXNxAH4ACncEAAAAAHh0AANCQkJ0AAhkb2N1bWVudHQABHRydWVzcQB+AAcBc3EAfgAKdwQAAAAAeHQAA0NDQ3EAfgARcQB+ABJ4dAADQUFBdAAIZm9sZGVyLUFweHQABFJPT1R0AAhmb2xkZXItQnB4" />

<script language="JavaScript" type="text/javascript">
<!--
if (typeof(Teeda) == 'undefined') {
  Teeda = {};
}
if (typeof(Teeda.THtmlTree) == 'undefined') {
  Teeda.THtmlTree = {};
}
Teeda.THtmlTree = {

  treeNavClick : function(spanId, navImageId, image1, image2, nodeImgId, expandImg, collapseImg, cookieName, nodeId, contextPath) {
    var navSpan = document.getElementById(spanId);
    var displayStyle = navSpan.style.display;
    if (displayStyle == 'none') {
      displayStyle = 'block'
    } else {
      displayStyle = 'none';
    }
    navSpan.style.display = displayStyle;
    if (navImageId != '') {
      var navImage = document.getElementById(navImageId);
      if (navImage.src.indexOf(image1) >= 0) {
        navImage.src = contextPath + '/' + image2;
      } else {
        navImage.src = contextPath + '/' + image1;
      }
    }
    if (nodeImgId != '') {
      var nodeImg = document.getElementById(nodeImgId);
      if (nodeImg.src.indexOf(expandImg) >=0) {
        nodeImg.src = collapseImg;
      } else {
        nodeImg.src = expandImg;
      }
    }
  }
};
//-->
</script>
<div id="treeForm:client-tree">
<input type="hidden" id="" value="true"/>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="19" height="100%" valign="top"><a href="#">
			<img id="treeForm:client-tree:0:t2"
			src="/teeda-html-example/img/nav-plus-line-last.gif" width="19"
			id="t2" height="18" style="cursor:hand;cursor:pointer" border="0"
			url="/img/nav-plus-line-last.gif" value="/img/nav-plus-line-last.gif"
			onclick="Teeda.THtmlTree.treeNavClick('teeda.extension.tree.TOGGLE_SPAN:client-tree:0',
			'treeForm:client-tree:0:t2', '/img/nav-plus-line-last.gif', '/img/nav-minus-line-last.gif',
			'treeForm:client-tree:0:t2c', '/teeda-html-example/img/yellow-folder-open.png', '/teeda-html-example/img/yellow-folder-closed.png',
			'client-tree', '0', '/teeda-html-example');" /></a></td>
		<td>
			<img id="treeForm:client-tree:0:t2c"
			src="/teeda-html-example/img/yellow-folder-closed.png" id="t2c"
			style="border: 0px" url="/img/yellow-folder-closed.png"
			value="/img/yellow-folder-closed.png" /> ROOT (1)</td>
	</tr>
</table>
<div id="teeda.extension.tree.TOGGLE_SPAN:client-tree:0"
	style="display:none">
<input type="hidden" id="" value="false"/>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="19" height="100%"
			background="/teeda-html-example/img/spacer.gif"><img
			src="/teeda-html-example/img/spacer.gif" width="19" height="18"
			border="0" /></td>
		<td width="19" height="100%" valign="top"><a href="#"><img
			id="treeForm:client-tree:0:0:t2"
			src="/teeda-html-example/img/nav-plus-line-last.gif" width="19"
			id="t2" height="18" style="cursor:hand;cursor:pointer" border="0"
			url="/img/nav-plus-line-last.gif" value="/img/nav-plus-line-last.gif"
			onclick="Teeda.THtmlTree.treeNavClick('teeda.extension.tree.TOGGLE_SPAN:client-tree:0:0', 'treeForm:client-tree:0:0:t2', '/img/nav-plus-line-last.gif', '/img/nav-minus-line-last.gif', 'treeForm:client-tree:0:0:t2c', '/teeda-html-example/img/yellow-folder-open.png', '/teeda-html-example/img/yellow-folder-closed.png', 'client-tree', '0:0', '/teeda-html-example');" /></a></td>
		<td><img id="treeForm:client-tree:0:0:t2c"
			src="/teeda-html-example/img/yellow-folder-closed.png" id="t2c"
			style="border: 0px" url="/img/yellow-folder-closed.png"
			value="/img/yellow-folder-closed.png" /> AAA</td>
	</tr>
</table>
<div id="teeda.extension.tree.TOGGLE_SPAN:client-tree:0:0"
	style="display:none">
<input type="hidden" id="" value="false"/>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="19" height="100%"
			background="/teeda-html-example/img/spacer.gif"><img
			src="/teeda-html-example/img/spacer.gif" width="19" height="18"
			border="0" /></td>
		<td width="19" height="100%"
			background="/teeda-html-example/img/spacer.gif"><img
			src="/teeda-html-example/img/spacer.gif" width="19" height="18"
			border="0" /></td>
		<td width="19" height="100%" valign="top"
			background="/teeda-html-example/img/line-trunk.gif"><img
			id="treeForm:client-tree:0:0:0:t2"
			src="/teeda-html-example/img/line-middle.gif" width="19" id="t2"
			height="18" border="0" url="/img/line-middle.gif"
			value="/img/line-middle.gif" /></td>
		<td><input type="checkbox"
			name="treeForm:client-tree:0:0:0:_id41" value="true"
			checked="checked" /> BBB</td>
	</tr>
</table>
<div id="teeda.extension.tree.TOGGLE_SPAN:client-tree:0:0:0"
	style="display:none"></div>
<input type="hidden" id="" value="true"/>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="19" height="100%"
			background="/teeda-html-example/img/spacer.gif"><img
			src="/teeda-html-example/img/spacer.gif" width="19" height="18"
			border="0" /></td>
		<td width="19" height="100%"
			background="/teeda-html-example/img/spacer.gif"><img
			src="/teeda-html-example/img/spacer.gif" width="19" height="18"
			border="0" /></td>
		<td width="19" height="100%" valign="top"><img
			id="treeForm:client-tree:0:0:1:t2"
			src="/teeda-html-example/img/line-last.gif" width="19" id="t2"
			height="18" border="0" url="/img/line-last.gif"
			value="/img/line-last.gif" /></td>
		<td><input type="checkbox"
			name="treeForm:client-tree:0:0:1:_id41" value="true"
			checked="checked" /> CCC</td>
	</tr>
</table>
<div id="teeda.extension.tree.TOGGLE_SPAN:client-tree:0:0:1"
	style="display:none"></div>
</div>
</div>
</div>
<input type="submit" id="doHoge" name="treeForm:doHoge" /><input
	type="hidden"
	name="org.seasar.teeda.extension.util.TransactionTokenUtil.TOKEN"
	value="12cd973e894e4a9185997d31558487e4" /> <input type="hidden"
	name="treeForm/view/tree/tree2.html" value="treeForm" /></form>
</body>
</html>
