<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
<META http-equiv="Content-Script-Type" content="text/javascript" />
<META http-equiv="Content-Style-Type" content="text/css" />
<META http-equiv="imagetoolbar" content="no" />
<LINK rel="stylesheet" href="/starter/rcfaces/1.0.0.1784/rcfaces.css" />
<SCRIPT src="/starter/rcfaces/1.0.0.1784/vfs-CORE__Len.js"
	charset="UTF-8"></SCRIPT>
<LINK rel="stylesheet" href="css/tree.css" />
<SCRIPT src="js/tree.js" charset="UTF-8"></SCRIPT>
</head>
<body>
<form id="_id0" method="post" action="/starter/tree.jsf"
	enctype="application/x-www-form-urlencoded">

<div align="center">The tree view is loaded as needed and
according to the visibility of each level using Ajax technology (the
number of levels to preload is configurable). <br />
<br />
<UL id="_id0:_id1" v:class="f_tree"
	v:events="selection:monSelect(event)" class="f_tree"
	style="width:300px; height:300px; overflow:auto" v:checkCardinality="2"
	v:selectionCardinality="2" v:userExpandable="true"
	v:preloadedLevelDepth="2"></UL>
<SCRIPT>//<![CDATA[
try { f_core; } catch(x) { alert("RCFaces Javascript Components are not initialized !"); }
f_env.dp("/starter","/starter/tree.jsf","en","/starter/rcfaces/1.0.0.1784");
_R.vt(document,"vfm-selection__Len.js","vfm-tree__Len.js","vfm-itemAspect__Len.js","vfm-popup__Len.js");
//]]>
</SCRIPT><SCRIPT>//<![CDATA[
var _2=_R._is("_id0:_id1");
var _1="market/images/folderClosed.gif";
var _3="market/images/folderOpened.gif";
_2._wi(_1,null,_3);
var _4=_2._wo(_2,"Recent documents","recent");
var _5="market/images/recent.gif";
_2._ow(_4,_5);
var _6=_2._wo(_2,"Desktop","desk");
var _7="market/images/desk.gif";
_2._ow(_6,_7);
var _8=_2._wo(_6,"My documents","~");
var _9="market/images/myDocument.gif";
_2._ow(_8,_9);
_2._mr(_8);
var _10=_2._wo(_6,"Computer","$COMPUTER");
var _11="market/images/computer.gif";
_2._ow(_10,_11);
_2._mr(_10);
var _12=_2._wo(_6,"Network favs","$NETWORKS");
var _13="market/images/network.gif";
_2._ow(_12,_13);
var _14=_2._wo(_6,"Eclipse","c:\\Eclipse");
var _15=_2._wo(_6,"Vedana's customers","~/vedana");
var _16=_2._wo(_6,"La Rochelle","~/La Rochelle");
var _17=_2._wo(_6,"Wallet","$WALLET");
var _18="market/images/wallet.gif";
_2._ow(_17,_18);
var _19=_2._wo(_6,"My Workspace","~/workspace");
var _20=_2._1d("#node","_id0:_id2");
_20.f_addEventListener(f_event.SELECTION,"treeMenuSelect(event)");
_20.f_addEventListener(f_event.MENU,"treeMenu(event)");
var _21=_20.f_appendItem(_20,"_id0:_id3","Show detail","ouvrir");
var _22=_20.f_appendItem(_20,"_id0:_id4","Rename","rename");
_20._pi(_20);
var _23=_20.f_appendItem(_20,"_id0:_id6","Delete","delete");
var _24="market/images/delete.gif";
_20._h9(_23,_24);
var _25=_2._1d("#body","_id0:_id7");
var _26=_25.f_appendItem(_25,"_id0:_id8","New zone","nouveau");
_25._pi(_25);
var _27=_25.f_appendItem(_25,"_id0:_id10","Delete all","deleteAll");
_2._0s();
//]]>
</SCRIPT> <br />

<table>
	<tr>
		<td></td>
		<td><b>Selected Item</b></td>
	</tr>
	<tr>

		<td>Label:</td>
		<td><INPUT id="_id0:itemLabel" v:class="f_textEntry"
			class="borderValue" name="_id0:itemLabel" type="text" READONLY
			size="20" /><SCRIPT>//<![CDATA[
_R.vt(document,"vfm-popupComponent__Len.js");
//]]>
</SCRIPT><v:init></v:init></td>
	</tr>
	<tr>
		<td>Value:</td>
		<td><INPUT id="_id0:itemValue" v:class="f_textEntry"
			class="borderValue" name="_id0:itemValue" type="text" READONLY
			size="20" /></td>
	</tr>

</table>

</div>
<br />
<br />
<ul>
	<li>The tree can be fully manipulated with the keyboard. (Multiple
	selection via shift and Ctrl keys)</li>
	<li>Direct node access via their first letters ...</li>
	<li>Tree nodes are fetched via Ajax depending on the specified
	depth.</li>

	<li>Popup menus can be defined differently for nodes and for
	background (for example to add a node to an empty tree).</li>
</ul>
<input type="submit" name="_id0:_id39" value="Refresh the page (Submit)" />
<br />
Every change made is automatically stored and shown after the submit and
refresh. <input type="hidden" name="_id0" value="_id0" /></form>
</body>

</html>
