<html xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:te="http://www.seasar.org/teeda/extension">
<title>Tree</title>
<body>
<form id="treeForm">
	<te:tree value="#{tree_treePage.tree}" id="client-tree" var="node" varNodeToggler="t">
		<f:facet name="folder-A">
			<h:panelGroup>
				<f:facet name="expand">
					<te:graphicImage style="border: 0px" value="/img/yellow-folder-expand.png" rendered="#{t.nodeExpanded}"/>
				</f:facet>
				<f:facet name="collapse">
				<te:graphicImage style="border: 0px" value="/img/yellow-folder-collapse.png" rendered="#{!t.nodeExpanded}"/>
				</f:facet>
				<h:outputText value="#{node.description}"/>
			</h:panelGroup>
		</f:facet>
		<f:facet name="folder-B">
			<h:panelGroup>
				<f:facet name="expand">
					<te:graphicImage style="border: 0px" value="/img/yellow-folder-expand.png" rendered="#{t.nodeExpanded}"/>
				</f:facet>
				<f:facet name="collapse">
					<te:graphicImage style="border: 0px" value="/img/yellow-folder-collapse.png" rendered="#{!t.nodeExpanded}"/>
				</f:facet>
				<h:outputText value="#{node.description}" />
				<h:outputText value=" (#{node.childCount})" rendered="#{!empty node.children}"/>
			</h:panelGroup>
		</f:facet>
		<f:facet name="document">
			<h:panelGroup>
				<a id="goHello" href="#{node.value}" target="_blank">
					<te:graphicImage style="border: 0px" value="/img/document.png" />
					<h:outputText value="#{node.description}"/>
				</a>
			</h:panelGroup>
		</f:facet>
	</te:tree>
	<input type="submit" id="doHoge" />
</form>
</body>
</html>