.te-holidaycalendar {
	font-family:arial;
    border-width:1;
    border-style:solid;
    border-color:#a0a0a0;
	background-color: #ffffff;
}

.te-holidaycalendar-monthyear {
    padding:2px;
    font-family:arial;
    font-weight:bold;
    color:#FFFFFF;
    background-color: #0000aa;
    text-align: center;
}

.te-holidaycalendar-weekday {
	color: black;
	text-decoration: none;
	text-align: right;
}

.te-holidaycalendar-normal-day {
	color: black;
	text-decoration: none;
	text-align: right;
	cursor: pointer;
}

.te-holidaycalendar-holiday {
	color: red;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
	cursor: pointer;
}