<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Page transition</title>
</head>
<body>
<form id="aaaForm">
<table border="0">
<tr><td>go to same usecase</td><td>go to other use case</td></tr>
<tr>
<td><input type="image" id="goAaa2" value="go to same usecase" alt="go to same usecase" src="../../../img/seasar_banner.gif"/></td>
<td><input type="image" id="goMove_Bbb_bbb" onclick="location.href='../start/index.html'" value="go to other use case" alt="go to other use case" src="../../../img/seasar_banner.gif"/></td>
</tr>
</table>
</form>
<link rel="stylesheet" type="text/css" href="../../../css/litbox.css" />
</body>
</html>