<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Condition</title>
</head>
<body>
<form id="form">
<span id="allMessages"/>
submitted:<span id="submitted" /><br /><br />
<input type="checkbox" id="disp" />display bar<br/><br/>
<input type="submit" id="doFoo" value="foo" /><br/>
<br />
<div id="isDisp">
<input type="submit" id="doBar" value="bar" /><br/>
</div>
<br />
<input type="submit" id="jumpHello_hello" value="hello" /><br/>
「bar」ボタンが表示されている状態でhelloに移動した後，<br />
ブラウザの「戻る」で戻ってから「bar」をサブミット．<br />
「submitted:」の右に「bar」と表示されればOK．
</form>
</body>
</html>