<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Condition</title>
</head>
<body>
<form id="form">
<span id="allMessages"/>
<span>Edit ConditionPage.aaa property.</span><br/>
<input type="text" id="hoge" /><br/><br/>
<hr/>
<div id="isAaa" te:omittag="true">
 <input type="checkbox" id="bbb-1"/>
 <span>hoge</span><br/>
 <input type="submit" id="doFalse"/><br/>
</div>
<div id="isNotAaa" te:omittag="true">
 <input type="checkbox" id="bbb-2"/>
 <span>foo</span><br/>
 <input type="submit" id="doTrue"/><br/>
</div>
<!-- 
<input type="submit" id="goConditionResult"/>
 -->
</form>
</body>
</html>