<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
<form id="form">
<span>Foreach sample with array.</span>
<table border="1">
	<div id="aaaItems">
	<tr>
		<td><span id="foo" style="background-color:red">hoge</span></td>
		<td><span id="bar">huga</span></td>
		<td><a id="goForeachLinkResult" href="foreachLinkResult.html?foo=f1&bar=g1"><span id="foo-a">f2</span></a></td>
	</tr>
	</div>
</table>
</form>
</body>
</html>
