<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>認証エラー！</title>
<link rel="stylesheet" type="text/css" href="../../css/global.css" />
</head>
<body>
<hr/>
<div class="x">
<form id="errorForm">
<span class="err"><label id="loginError"></label></span><br/>
<a id="goTodo_login" href="../todo/login.html">ログイン画面へ</a>
</form>
</div>
<hr/>
</body>
</html>