<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teeda Extension My Examples</title>
</head>

<body>
<form id="startForm">
<h1>Welcome to Teeda Extension HTML Example!</h1>
<hr/>

<ul>
  <li><a id="goForeach_foreachGridEdit" href="../foreach/foreachGridEdit.html">ForEach Edit (like Grid)</a></li>
  <li><a id="goGrid_gridEdit" href="../grid/gridEdit.html">Grid Edit</a></li>
  <li><a id="goGrid_gridPaging" href="../grid/gridPaging.html">Grid（with paging &amp; sort）</a></li>
  <li><a id="goSelect_selectOneWithName" href="../select/selectOneWithName.html">Select One (Relative Name)</a></li>
</ul>

</form>

</body>
</html>
