<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hello</title>
</head>
<body>

<div id="pp">
こんにちは<span id="aaa-1" te:invisible="true">世界</span>
</div>
<div id="pp2">
こんにちは<span id="aaa-2" te:omittag="true">世界</span>
</div>
<div id="pp3">
こんにちは<span id="aaa-3" te:invisible="false" te:omittag="false">世界</span>
</div>
<div id="pp4">
こんにちは<span id="aaa-4" te:invisible="true" te:omittag="false">世界</span>
</div>
<div id="pp5">
こんにちは<span id="aaa-5" te:invisible="false" te:omittag="true">世界</span>
</div>
</body>
</html>
