<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Calculate add or subtract.</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>
<form id="form">
<div>
<span id="allMessages"></span>
</div>
<span>Edit CalculatePage.calType property.</span>
<div id="isCalType">
 <input type="text" id="arg1" />
 <span>+</span>
 <input type="text" id="arg2" />
 <span id="result">bar</span>
 <input type="submit" id="doAdd" value="add" />
 <input type="submit" id="jumpStart_index" value="back to index" />
</div>
<div id="isNotCalType">
 <input type="text" id="arg1-2" />
 <span>-</span>
 <input type="text" id="arg2-2" />
 <span id="result-2">bar</span>
 <input type="submit" id="doMinus"/>
</div>
</form>
</body>
</html>