<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Condition</title>
</head>
<body>
<form id="form">
<span id="allMessages"/>
<span>Edit ConditionPage.aaa property.</span><br/>
<input type="text" id="hoge" /><br/><br/>
<hr/>
<div id="isFoo" te:omittag="true">
 <span>true</span><br />
 <span id="aaa-1">hoge</span>
</div>
<div id="isNotFoo" te:omittag="true">
 <span>false</span><br />
 <span id="aaa-2">hoge</span>
</div>
<input type="submit" id="doHoge"/><br/>
<input type="reset" />
<input type="hidden" id="aaa-hidden" />
<input type="hidden" id="foo-hidden" />
</form>
<a id="goTrue" href="condition.html?fixed_foo=true">foo</a><br />
<a id="goFalse" href="condition.html?fixed_foo=false">not foo</a><br />
</body>
</html>