<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Condition3</title>
</head>
<body>
<form id="form">
<span id="allMessages"></span>
<table id="flgInfoGrid">
<thead>
<tr style="dummy"><td>タイトル</td></tr>
</thead>
<tbody>
<tr style="dummy">
<td>
<div id="isDisp"><span>メッセージあり</span></div>
<div id="isNotDisp"><span>メッセージなし</span></div>
</td>
</tr>
</tbody>
</table>

<table>
<tr>
<td>必須項目</td>
<td><input type="text" id="name" label="名称" /></td>
</tr>
</table>
<input type="submit" id="doCheck" value="確認"/>


</form>
</body>
</html>