<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Condition</title>
</head>
<body>
<form id="Form">
<div id="isDisplay">
<input id="hoge" type="hidden" />
hoge
</div>
<div id="gosubmitright">
  <input id="goFuga" type="button" class="orange" value=" 戻る " href="fuga.html" />
</div>
</form>
</body>
</html>
