<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Link sample</title>
</head>
<body>
<form id="linkForm">
<input type="hidden" id="arg3" />
<span>Time is </span><span id="date">date</span><br/>
<div>
<span id="messages"></span>
</div>
<table>
<tr>
<td></td><td><input type="text" id="arg1" title="INPUT1"/></td>
<td><span id="arg1Message"></span></td>
</tr>
<tr>
<td> + </td>
<td><input type="text" id="arg2" title="INPUT2"/></td>
<td><span id="arg2Message"></span></td>
</tr>
</table>
<input type="submit" id="goLinkResult-go" value="go"/>
<hr/>
<a id="goLinkResult" href="linkResult.html?arg1=123&amp;arg2=223&amp;arg3=345&amp;date=123">Linkで画面遷移</a>
</form>
</body>
</html>