<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>GridEdit2</title>
</head>
<body>
<style>
.gridHeader {
	background-color: green;
	color: white;
	font-weight: bold;
	overflow: hidden;
}
.gridTable {
	background-color: black;
}
.gridCell {
	height: 25px;
}
.gridCellEdit {
	border-width: 1px;
	background-color: #FFC0CB;
}
.row_odd {
	background-color: white;
}
.row_even {
	background-color: #FFDEAD;
}
</style>
Grid
<form id="form">
<input type="hidden" id="fooItemsSave"/>
<table id="fooGrid" width="300px" height="200px">
	<thead>
		<tr height="50px">
			<th>aaa</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox" id="aaa"/>aaa</td>
			<td><input type="hidden" id="bbb"/></td>
		</tr>
	</tbody>
</table>
<input type="submit" />
</form>
</body>
</html>
