<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ダイアログ呼び出し</title>
</head>
<body>
<form id="yobidashiForm">
<input type="button"
  onclick="showModalDialog('dialog2.html?newwindow=true&x='+(new Date()).getTime(),'','dialogWidth=400px; dialogHeight=400px;')" value="ダイアログ呼び出し" />
<br/>
<input type="button" id="goDialog2" value="遷移" />
</form>
</body>
</html>