<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"
	xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>確認画面</title>
</head>
<body>
<form id="Form">
<div><span id="messages"></span></div>
<table border="1">
<tr><th>スコープ</th><th>値</th></tr>
<tr><td>デフォルト</td><td><span id="data" /></td></tr>
<tr><td>Page</td><td><span id="page" /></td></tr>
<tr><td>Redirect1</td><td><span id="redirect1" /></td></tr>
<tr><td>Redirect2</td><td><span id="redirect2" /></td></tr>
<tr><td>Subapp1</td><td><span id="subapp1" /></td></tr>
<tr><td>Subapp2</td><td><span id="subapp2" /></td></tr>
</table>
<p>
リロードするとRedirectスコープの値は消えます．
</p>
<input type="submit" id="doBack" value="入力画面へ" /> (Never)
</form>
</body></html>