<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TakeOverResult</title>
</head>
<body>
<form id="takeoverResultForm">
<span id="allMessages"/>
<span id="arg1">111</span> + <span id="arg2">222</span><br/>
<input type="button" value="default" id="goTakeover-1"/><br/>
<input type="button" value="never" id="jumpTakeover-1"/><br/>
<input type="button" value="include arg1" id="doInclude-1"/><br/>
<input type="button" value="exclude arg1" id="doExclude-1"/><br/>
</form>
</body>
</html>