<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add3</title>
</head>
<body>
<span id="allMessages"/>
<form id="add3Form">
<input type="hidden" id="bbb-1"/>
<input type="hidden" id="aaa-1"/>
<input type="hidden" id="result-1"/>
<span id="bbb">you will see add result + 1000</span>
<table>
<tr>
<td></td><td><input type="text" id="arg1"/></td>
<td><span id="arg1Message"></span></td>
</tr>
<tr>
<td> + </td>
<td><input type="text" id="arg2"/></td>
<td><span id="arg2Message"></span></td>
</tr>
<tr>
<td> = </td>
<td><span id="result"></span></td>
</tr>
</table>
<input type="submit" value="calculate" id="doCalculate"/>
</form>
</body>
</html>