<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add</title>
<style type="text/css">
.cool {color: blue}
.hot {color: red}
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>
<span id="messages"/>
<form id="addForm">
<table>
<tr>
<td></td><td><input type="text" id="arg1" class="T_currency cool"/></td>
<td><span id="arg1Message"/></td>
</tr>
<tr>
<td> + </td>
<td><input type="text" id="arg2" class="T_currency hot"/></td>
<td><span id="arg2Message"/></td>
</tr>
<tr>
<td> = </td>
<td><span id="result"/></td>
</tr>
</table>
<input type="submit" value="calculate" id="doCalculate"/>
</form>
</body>
</html>