<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Foreach + Converter with Target</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>
<form id="form">
<span id="allMessages"></span>
<input type="hidden" id="dtoItemsSave" />
<table id="dtoItems" border="1">
	<tr>
		<td><input type="text" id="aaa" /></td>
		<td><span id="bbb" class="T_popupCalendar"></span></td>
	</tr>
</table>
<input type="submit" id="doConvert" value="変換" />
<input type="submit" id="doNoConvert" value="無変換" />
</form>

</body>
</html>
