<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach Nest</title>
</head>
<body>
<span>Foreach Nest sample</span>
<form id="testForm">
<input type="hidden" id="aaaItemsSave"/>
<table border="1">
 <div id="aaaItems">
 <tr>
  <td>aaaIndex:<span id="aaaIndex"/></td>
  <td><input type="text" id="foo"/></td>
  <div id="bbbItems">
  <td><input type="text" id="bar"/></td>
  </div>
 </tr>
 </div>
</table>
<input type="submit" id="doTest" value="doTest"/>
</form>
</body>
</html>
