<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"
	xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>has property</title>
</head>
<body>
<form id="Form">
<div><span id="messages"></span></div>

デフォルトスコープ<input type="text" id="data1" /><br />
Subappスコープ<input type="text" id="data2" /><br />

<input type="submit" id="doMyPage" value="自分のページへ" />
<input type="submit" id="doOtherPage" value="別のページへ" />

</form>
</body></html>