<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>scope sample</title>
</head>
<body>
<form id="form">
<span>Pageスコープの例.</span><br />
message1:<span id="message1"/><br />
message2:<input type="text" id="message2" /><br />
message3:<input type="text" id="message3" /><br />
<input type="text" id="message2" /><br />
<input type="text" id="message3" /><br />
<input type="submit" id="doPageScopeExecute" value="doPageScopeExecute"/><br/>
<input type="submit" id="doPageScopeClear" value="doPageScopeClear"/>
</form>
</body>
</html>