<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>subapp scope sample</title>
</head>
<body>
<form id="form">
<span>Subapplicationスコープの例.</span><br />
@SubapplicationScope指定した項目：<span id="message1">aaa</span><br />
@SubapplicationScope指定してない項目：<span id="message2">bbb</span><br />
<input type="submit" id="doAction" value="doAction"/><br />
<a id="goResult-1" href="subapplicationScopeResult.html">引き継ぐ</a><br />
<a id="goResult-2" href="subapplicationScopeResult.html?te-takeover=never">引き継がない</a><br />
</form>
</body>
</html>