<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
<form id="ForeachPageForm">
<span>Foreach sample with array.</span>

<table>
	<tbody>
		<tr>
			<td>foo:</td>
			<td><span id="foo-span">foo-span</span></td>
			<td><input type="text" id="foo-text" /></td>
		</tr>
		<tr>
			<td>bar:</td>
			<td><span id="bar-span">bar-span</span></td>
			<td><input type="text" id="bar-text" /></td>
		</tr>
	</tbody>
</table>

<table border="1">
	<tbody id="aaaItems">
	<tr>
		<td><span id="foo" style="background-color:red">hoge</span></td>
		<td><span id="bar">huga</span></td>
	</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td>foo2:</td>
			<td><span id="foo-span2">foo-span2</span></td>
		</tr>
		<tr>
			<td>bar2:</td>
			<td><span id="bar-span2">bar-span2</span></td>
		</tr>
	</tbody>
</table>

<input type="button" id="goForeach" value="goForeach" />
<input type="button" id="doForeach" value="doForeach" />
<input type="button" id="jumpForeach" value="jumpForeach" />
<input type="button" id="goForeachConfirm" value="goForeachConfirm" />
<input type="button" id="doForeachConfirm" value="doForeachConfirm" />
<input type="button" id="jumpForeachConfirm" value="jumpForeachConfirm" />
</form>
</body>
</html>
