<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach Size</title>
</head>
<body>
GridXY
<span id="allMessages"/>
<form id="aaaForm">
<input type="hidden" id="fooItemsSave" />
<input type="text" id="itemSize" />
<input type="submit" id="doChangeSize" value="件数を変更" />

<table id="foreachTable">
	<tbody>
		<div id="fooItems">
		<tr>
			<td><span id="fooIndex" /></td>
			<td><input type="text" id="aaa" /></td>
			<td><input type="text" id="bbb" /></td>
		</tr>
		</div>
	</tbody>
</table>
</form>
</body>
</html>
