<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEachConfirm</title>
</head>
<body>
<form id="ForeachConfirmPageForm">
<table>
	<tbody>
		<tr>
			<td>foo:</td>
			<td><input type="text" id="foo-text" /></td>
		</tr>
		<tr>
			<td>bar:</td>
			<td><input type="text" id="bar-text" /></td>
		</tr>
	</tbody>
</table>
<input type="button" id="goForeach" value="goForeach" />
<input type="button" id="doForeach" value="doForeach" />
<input type="button" id="jumpForeach" value="jumpForeach" />
</form>
</body>
</html>
