<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach Nest Button</title>
</head>
<body>
<span>Foreach Nest Button sample</span>
<form id="form">
<input type="hidden" id="aaaItemsItemsSave"/>
selected = <span id="selectedIndex">0:0</span>
<table id="foreachTable" border="1">
	<tbody id="aaaItemsItems">
		<tr id="aaaItems">
			<td><input type="submit" id="doAction" value="00" /></td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>
