<html xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SelectManyCheckbox</title>
</head>
<body>
<form id="selectManyCheckboxForm">
列数<input type="text" id="aaaCol" value="2"/><br/>
<span id="aaa" te:col="2">
	<input type="checkbox" name="aaa" value="0" checked="checked"/>aaa
	<input type="checkbox" name="aaa" value="1"/>bbb
</span>
<input type="submit" value="submit" id="doAction"/>
<span id="aaaMessage"/>
</form>
</body>
</html>