<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title id="aaa">Add</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>
<form id="validatorForm">
<div>
<span id="allMessages"></span>
</div>
<input type="text" id="aaa"/><br/><br/>
<input type="text" id="bbb"/><br/><br/>
<input type="text" id="ccc"/><br/><br/>
<input type="submit" id="doValidate" value="with validate"/>
<input type="submit" id="doValidate2" value="with validate2"/>
<input type="submit" id="doNoValidate" value="without validate"/>
<input type="submit" id="doHoge" value="without hyphen"/>
<input type="submit" id="doHoge-2" value="with hyphen"/>
</form>
</body>
</html>