<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title id="aaa">takeover1</title>
</head>
<body>
<span id="aaaa">AAA</span><br />
<span id="bbbb">BBB</span><br />
<span id="cccc">CCC</span><br />
<form id="hogeForm">
<input type="submit" id="goTakeover2" />
<input type="submit" id="doSomething1" />
<input type="submit" id="doSomething2" />
</form>
</body>
</html>
