<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>InputRadio</title>
</head>
<body>
<form id="inputRadioForm">
<span id="allMessages" />
<div id="radioSelectedItems">
	<span id="aaa">
		<input type="radio" id="aaa_0" name="aaa" value="1" /><label id="for_aaa_0" for="aaa_0">1</label>
		<input type="radio" id="aaa_1" name="aaa" value="2" /><label id="for_aaa_1" for="aaa_1">2</label>
		<input type="radio" id="aaa_2" name="aaa" value="3" /><label id="for_aaa_2" for="aaa_2">3</label>
	</span>
	<br />
</div>
<br />
<input type="submit" id="doAction" value="send" />
</form>
</body>
</html>
