<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>InputRadio</title>
</head>
<body>
<form id="inputRadioForm">
<span id="allMessages" />
<span id="aaa-hoge">
	<input type="radio" name="aaa" value="1" />1
	<input type="radio" name="aaa" value="2" />2
	<input type="radio" name="aaa" value="3" />3
	<input type="radio" name="aaa" value="4" disabled="disabled" />4
</span>
<br />
選択された値: <span id="aaa-display"/>
<input type="submit" id="doAction" value="send" />
</form>
</body>
</html>
