<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Selectone input</title>
</head>
<body>
<form id="form">
<span id="allMessages"/>
<input type="hidden" id="aaaItemsSave"/>
<span id="aaa">
	<input type="radio" name="aaa" value="0" checked="checked"/>aaa
	<input type="radio" name="aaa" value="1"/>bbb
	<input type="radio" name="aaa" value="2"/>ccc
</span>
<input type="text" id="bbb" />
<span id="aaa-out"/>
<input type="submit" value="calculate" id="goSelectOneRadioResult"/>
</form>
</body>
</html>