<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sumit Hook</title>
<script language="JavaScript" src="../../js/kumu.js"></script>
<script type="text/javascript">
function execute() {
  var item = $i('sample');
  alert(item.childNodes.length);
  Kumu.cleanWhitespace(item);
  alert(item.childNodes.length);
}
</script>
</head>
<body>
<div id="sample" style="background-color:red">
	<p>
		1
	</p>
	<p>
		2
	</p>
	<p>
		3
	</p>
</div>
<button onclick="execute()">exec cleanWhitespace sample</button>
</body>
</html>