<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Test</title>
</head>
<body>
<form id="form">
<input id="aaaItemsSave" type="hidden" />
<table>
	<tr>
		<td>選択</td>
		<td>名前</td>
	</tr>
	<tbody id="aaaItems">
		<tr>
			<td><input id="check" type="checkbox" /></td>
			<td><a id="goHoge" href="../hello/hello.html"><span id="name" >あああ</span></a></td>
		</tr>
	</tbody>
</table>
<input id="doTest" type="image" src="../../img/seasar_banner.gif" alt="テスト" />
</form>
</body>
</html>
