<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
<span>Foreach sample with radio.</span>
<form id="form">
<span id="selected">selected</span>
<input type="hidden" id="dtoItemsSave"/>
<div id="aaa">
<div id="bbb">
<table border="1">
	<tbody id="dtoItems">
	<tr>
		<td>
			<div id="isDisplay">
				<input type="radio" id="aaaRadio" name="aaa" value="0"/>
			</div>
		</td>
		<td><span id="aaaRadioLabel">aaa</span></td>
		<td>
			<div id="isNotDisplay">
				<input type="radio" id="bbbRadio" name="bbb" value="0"/>
			</div>
		</td>
		<td><span id="bbbRadioLabel">bbb</span></td>
	</tr>
	</tbody>
</table>
</div>
</div>
<input type="submit" value="submit" id="doSubmit"/>
</form>
</body>
</html>
