<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
</head>
<body>
	<form id="hogeForm">
	<span id="allMessages"></span>
	<div id="selectionItems" >
		<select id="selectionValue">
		</select>
	</div>
	<input id="doDump" value="xx" type="submit" />
	<span id="msg" />
	</form>
</body>
</html>