<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach Input Pagenation</title>
</head>

<body>

<h1>ForEach Input Pagenation</h1>

<form id="form">

<p>
<span id="find_count-span">1</span><input type="hidden" id="find_count" /> Results
</p>

<table id="foreachTable" border="1">
<thead>
<tr>
<th>output</th>
<th>input</th>
</tr>
</thead>
<tbody id="fooItems">
<tr>
<td><span id="aaa-span">a1</span></td>
<td><input type="text" id="aaa" value="a1"/></td>
</tr>
</tbody>
</table>

<p>
<input type="button" id="doPageFirst" value="|&lt;"/>
<input type="button" id="doPagePrv" value="&lt;"/>
<input id ="current_page" type="text" value="1" style="width:2em;text-align:right;"/>
/<span id="total_page">1</span><input type="button" id="doPageMove" value="Page" />
<input type="button" id="doPageNext" value="&gt;"/>
<input type="button" id="doPageFinal" value="&gt;|"/>
</p>

<p>
<input type="submit" id="doTest"/>
</p>

<p>
<a href="forEachInput.html">forEachInput.html</a>
</p>

</form>

</body>

</html>
