<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>

from page.
<form id="form">
<span id="allMessages"></span>
<table id="foreachTable" border="1">
	<div id="aaaItems">
	<tr>
		<td><input type="text" id="foo" /></td>
		<td><input type="text" id="bar" /></td>
		<td><span id="baz" /></td>
	</tr>
	</div>
</table>
<input type="submit" id="doSubmit" />
</form>

</body>
</html>
