<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
<span>Foreach sample with radio.</span>
<form id="form">
<input type="hidden" id="dtoItemsSave"/>
<input type="hidden" id="aaaItemsSave"/>
<table border="1">
	<tbody id="dtoItems">
	<tr>
		<td><span id="aaa">
			<input type="radio" name="aaa" value="0"/>aaa
			<input type="radio" name="aaa" value="1"/>bbb
			<input type="radio" name="aaa" value="2"/>ccc
			</span>
		</td>
	</tr>
	</tbody>
</table>
<input type="submit" value="submit" id="doSubmit"/>
</form>
</body>
</html>
