<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>

from page.
<form id="aForm">
<span id="allMessages"></span>
<input type="text" id="num1" class="hoge"/><br/>
<input type="text" id="num2"/><br/>
<span id="str">aaa</span>
<input type="hidden" id="fooItemsSave" />
<table border="1">
	<tbody id="fooItems">
	<tr>
		<td><span id="fooNo">100</span></td>
		<td><input type="text" id="aaa" title="AAA"/></td>
		<td><input type="text" id="bbb" title="BBB"/></td>
	</tr>
	</tbody>
</table>
<input type="submit" id="doNothing" />
</form>

</body>
</html>
