<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForeachDelete</title>
</head>
<body>
<span>Foreach sample with delete.</span>
<form id="foreachDeleteForm">
<input type="hidden" id="aaaItemsSave"/>
<table border="1">
 <thead>
  <tr bgcolor="#7777FF">
   <th>Key</th>
   <th colspan="2">Test</th>
  </tr>
 </thead>
 <tbody id="aaaItems">
  <tr>
   <td><span id="key">dummy1</span><input type="hidden" id="key-1"/></td>
   <td>
    <input type="button" id="doDelete" value="delete"/>
   </td>
  </tr>
 </tbody>
</table>
</form>
</body>
</html>
