<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form id="Form">
<div><span id="messages"></span></div>
<input type="hidden" id="parentItemsSave"/>

<table border="1">
	<div id="parentItems">
	<tr>
		<div id="childItems">
		<td><input type="text" id="foo"/></td>
		</div>
	</tr>
	</div>
</table>
<input type="submit" id="doAppendLast" value="Last"/><br />
<input type="submit" id="doAppendInsert" value="Insert"/><br />

</form>
</body>
</html>
