<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach Nest Button</title>
</head>
<body>
<span>Foreach Nest Button sample</span>
<form id="form">
<input type="hidden" id="aaaItemsItemsSave"/>
selected = <span id="selectedIndex">0:0</span>
<table border="1">
	<tbody id="aaaItemsItems">
		<tr id="aaaItems">
			<td><input type="submit" id="doOnceAction" value="00" te:renderJs="true" /></td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>
