<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach Lists</title>
</head>
<body>
<span>Foreach sample</span>
<form id="form">
<h3>ordered lists</h3>
<ol id="aaaItems-ol">
	<li><span id="aaa">aaa</span></li>
</ol>
<h3>unordered lists</h3>
<ul id="aaaItems-ul">
	<li><span id="aaa">aaa</span></li>
</ul>
<h3>definition lists</h3>
<dl id="bbbItems">
	<dt><span id="title">title</span></dt>
	<dd><span id="data">data</span></dd>
</dl>
</form>
</body>
</html>
