<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
to page.
<form id="aForm">
<span id="num1"/><br/>
<span id="num2"/><br/>
<span id="str"></span>
<input type="hidden" id="fooItemsSave" />
<table border="1">
	<div id="fooItems">
	<tr>
		<td><span id="fooNo">100</span></td>
		<td><span id="aaa">aaa</span></td>
		<td><span id="bbb">aaa</span></td>
	</tr>
	</div>
</table>
<input id="jumpForeachHoge" type="submit" />
</form>

</body>
</html>
