<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ForEach</title>
</head>
<body>
<form id="form">
<table id="foreachTable">
	<thead>
		<tr height="50px">
			<th>aaa</th>
			<th>bbb</th>
			<th>ccc</th>
		</tr>
	</thead>
	<div id="fooItems">
	<tbody>
		<tr>
			<td><span id="aaa-span" /><input type="hidden" id="aaa-hidden"/></td>
			<td><input type="text" id="bbb"/></td>
			<td><input type="text" id="ccc"/></td>
		</tr>
	</tbody>
	</div>
</table>
<input type="submit" id="doTest"/>
</form>
</body>
</html>
