<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Selectone3</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<script language="JavaScript">
<!--
function viewSelectProperties(selectObj, prop, hiddenName, target) {
    var selectIndex = selectObj.selectedIndex;
    var selectValue = selectObj.options[selectIndex].value;
    var s = prop + ":" + selectValue + ":" + hiddenName;
    var val = document.getElementsByName(s);
    document.getElementById(target).value = val[0].value;
}
//-->
</script>
</head>
<body>
<form id="form">

<select id="aaa" onchange="viewSelectProperties(this, 'form:cccItems', 'name', 'bbb');">
  <option value="0">A</option>
</select>
<input type="text" id="bbb" />
<div id="cccItems">
  <input type="hidden" id="name"/>
</div>

</form>
</body>
</html>

