<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Selectone</title>
<script language="JavaScript" src="../../js/global.js"></script>
<script language="JavaScript" src="../../js/selectExtension.js"></script>
</head>
<body>
<form id="form">
    
<input type="hidden" id="fooItemsSave" />

<div id="fooRelItems-fooName">
  <input type="hidden" id="name-fooName"/>
</div>

<select id="foo" class="selectExtension">
  <option value=""></option>
  <option value="0">000</option>
  <option value="1">001</option>
  <option value="2">002</option>
</select>
 value : <span id="foo-1"/>
|label : <span id="fooLabel"/><input type="hidden" id="fooLabel-hidden"/>
|name  : <span id="fooName"/><input type="hidden" id="fooName-hidden"/>
<br />

<input type="submit" id="doSubmit" value="OK"/>
</form>
</body>
</html>
