<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Selectone with Map sample</title>
</head>
<body>
<form id="form">
<select id="aaa">
	<option value="0">A</option>
</select>
<span id="aaa-1"/>
<input type="submit" value="calculate" id="doAction"/>
</form>
</body>
</html>