<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Convert Integer for inputHidden</title>
</head>
<body>
<form id="convertForm">

<span id="aaaMessage">aaaa</span>
<span id="bbbMessage">bbbb</span>
<span id="cccMessage">cccc</span>
<span id="dddMessage">dddd</span>
<input type="hidden" id="aaa" />
<input type="hidden" id="bbb" title="bbbTitle" />
<input type="hidden" id="ccc" label="cccLabel" />
<input type="hidden" id="ddd" label="dddLabel" title="dddTitle" />
<input type="submit" id="doSomething" />

</form>
</body>
</html>
