<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add2</title>
</head>
<body>
<form id="addForm">
<div>
<span id="allMessages"></span>
</div>
<table>
<tr>
<td></td><td><input type="text" id="arg1"/></td>
</tr>
<tr>
<td> + </td>
<td><input type="text" id="arg2"/></td>
</tr>
<tr>
<td> = </td>
<td><span id="result"></span></td>
</tr>
</table>
<input type="submit" value="calculate" id="doCalculate"/>
<input type="submit" value="calculate https" id="doCalculateHttps"/>
</form>
</body>
</html>