<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add</title>
</head>
<body>
<form id="addForm">
<input type="hidden" id="message-hidden"/>
<div>
<span id="messages"></span>
</div>
<span id="message">input and click seasar logo!</span>
<table>
<tr>
<td></td><td><input type="text" id="arg1"/></td>
<td><span id="arg1Message"></span></td>
</tr>
<tr>
<td> + </td>
<td><input type="text" id="arg2"/></td>
<td><span id="arg2Message"></span></td>
</tr>
</table>
<input type="image" src="../../img/seasar_banner.gif" value="calculate" id="doCalculate" onclick="location.href='./addResult.html'"/>
<input type="image" src="../../img/seasar_banner.gif" value="calculateHttps" id="doCalculateHttps" onclick="location.href='./addResult.html'"/>
</form>
</body>
</html>