<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add</title>
</head>
<body>
<form id="addResultForm">
<span id="messages"></span>
<span id="message"></span><br/>
<span id="arg1">111</span> + <span id="arg2">222</span> = <span id="result">333</span>
<input type="button" value="back and input again" id="goAddInput" onclick="location.href='./addInput.html'"/>
<input type="button" value="back and refresh" id="jumpAddInput" onclick="location.href='./addInput.html'"/>
</form>
</body>
</html>