<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TextOutput</title>
</head>
<body>
<form id="form">
name1:<span id="name1">hoge</span><br />
name2:<span id="name2">hoge2</span><br />
<input type="button" id="goTextInput" value="すべて値を引き継いで戻る"
    onclick="location.href='textInput.html';"/>
<input type="button" id="doTakeOverNameOnly" value="nameだけ引き継いで戻る"
    onclick="location.href='textInput.html';"/>
<input type="button" id="doTakeOverNever" value="すべて引き継がない"
    onclick="location.href='textInput.html';"/>
</form>
</body>
</html>