<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title id="aaa">Add</title>
</head>
<body>
<form id="addForm" action="dummy.html">
<div>
<span id="allMessages"></span>
</div>
<table>
<tr>
<td></td><td><input name="arg1" type="text" id="arg1" title="INPUT1"/></td>
<td><span id="arg1Message"></span></td>
</tr>
<tr>
<td> + </td>
<td><input name="arg2" type="text" id="arg2" title="INPUT2"/></td>
<td><span id="arg2Message"></span></td>
</tr>
<tr>
<td> = </td>
<td><span id="result"></span></td>
</tr>
</table>
<input type="submit" name="button1" value="calculate" id="doCalculate"/>
<input type="text" id="arg3" readonly="readonly" />
</form>
</body>
</html>
