<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FileUpload</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>
<form id="Form" enctype="multipart/form-data">
<span>FileUploadのサンプルです.</span><br />
<span>web.xmlの設定(uploadRepositoryPath)でWindows用に設定されています.</span><br />
<span>設定をOSに適切にあわせてください.</span><br />
<hr />
<div><span id="allMessages"></span></div>
TITLE::<input type="text" id="name" />
<br />

File1::<input type="file" id="uploadedFile1" />
<br />
File2::<input type="file" id="uploadedFile2" />
<br />
File3::<input type="file" id="uploadedFile3" />
<br />
(File3にはweb.xmlのuploadThresholdSizeで指定したサイズより大きなファイルを指定してください．
<br />
<input type="submit" id="doUpload" value="Upload" />

<fieldset>
<legend>File1</legend>
<div>ファイル名::<span id="fileName1"></span></div>
<div>サイズ::<span id="fileSize1"></span>byte</div>
<div>サーバ側保存ファイル名::<span id="fileLocation1"></span></div>
<div>内容::<pre style="border-style: solid; border-width: thin;"><span id="fileContent1" te:omittag="true"></span></pre></div>
</fieldset>

<fieldset>
<legend>File2</legend>
<div>内容::<pre style="border-style: solid; border-width: thin;"><span id="uploadedFile2-out" te:omittag="true"></span></pre></div>
</fieldset>

<fieldset>
<legend>File3</legend>
<div>サーバ側保存ファイル名::<span id="fileName3"></span></div>
</fieldset>

</form>
</body>
</html>
