<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Grid Size</title>
</head>
<body>
GridXY
<span id="allMessages"/>
<form id="gridForm">
<input type="hidden" id="fooItemsSave" />
<input type="text" id="itemSize" />
<input type="submit" id="doChangeSize" value="件数を変更" />

<table id="fooGrid" width="300px" height="200px">
	<colgroup>
		<col span="2" width="60px" />
	</colgroup>
	<thead>
		<tr height="50px">
			<th>index</th>
			<th>aaa</th>
			<th>bbb</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span id="fooIndex" /></td>
			<td><span id="aaa" /></td>
			<td><input type="text" id="bbb" /></td>
		</tr>
	</tbody>
</table>
</form>
</body>
</html>
