<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Forward</title>
<style>
.onTeedaError {
	background-color: #FFCCCC;
}
</style>
</head>
<body>
<form id="form">
<input type="text" id="text" name="text" /><br />
<input type="submit" value="complete" id="doOnceComplete" te:renderJs="true" te:time="100" />
doOnce → 自画面<br />
<input type="submit" value="complete" id="doSearch"/>
do → 自画面<br />
</form>
</body>
</html>