<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/teeda-html-example/view/relativepath/red.css" type="text/css" />
<link rel="stylesheet" href="yellow.css" type="text/css" />
<link rel="stylesheet" href="../blue.css" type="text/css" />
<link rel="stylesheet" href="../../../css/global.css" type="text/css" />
<script type="text/javascript" src="../../../js/kumu.js"></script>
</head>
<body>
<form id="Form">
<div><span id="messages"></span></div>
絶対パスで指定。
<div class="red">
ここが赤になればOK
</div>
<img src="/teeda-html-example/view/relativepath/seasar_banner.gif"/><br/>
<br/>
自分のフォルダ
<div class="yellow">
ここが黄色になればOK
</div>
<img src="seasar_banner.gif"/><br/>
<br/>
親フォルダを指定
<div class="blue">
ここが青になればOK
</div>
<img src="../seasar_banner.gif"/><br/>
</form>
</body></html>