<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Teeda Extension samples</title>
</head>
<body>
<form id="startForm">
<span>Teeda HTML exampleへようこそ。左のリンクをクリックしてください。</span><br/>
<!--
<span>Welctom to Teeda HTML example! Click the left links to see examples.</span>
 -->
</form>
</body>
</html>