<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<!--
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jsp</param-value>
	</context-param>
	-->

	<!--
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	-->

	<filter>
		<filter-name>s2filter</filter-name>
		<filter-class>org.seasar.framework.container.filter.S2ContainerFilter</filter-class>
	</filter>
	<filter>
		<filter-name>requestDumpFilter</filter-name>
		<filter-class>org.seasar.teeda.core.filter.RequestDumpFilter</filter-class>
	</filter>
	<filter>
		<filter-name>encodingfilter</filter-name>
		<filter-class>org.seasar.extension.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>s2filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingfilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>requestDumpFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>teedaServlet</servlet-name>
		<servlet-class>org.seasar.teeda.core.webapp.TeedaServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>teedaServlet</servlet-name>
		<url-pattern>/teedaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

</web-app>
