<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dynamic property</title>
</head>
<body>
<span id="aaa-header" style="background-color:blue">Dynamic1</span><br />
<span id="aaa" style="background-color:red">Dynamic2</span><br />
<span id="aaa-footer" style="background-color:green">Dynamic3</span><br />
<a id="bbb-1" href="foo">bbb</a><br />

<form id="form">
<input type="submit" id="goDynamicproperty2" value="submit"/>
</form>
</body>
</html>
