<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dynamic property</title>
</head>
<body>
<span id="aaa-header" style="background-color:blue">Dynamic1</span><br />
<span id="aaa" style="background-color:red">Dynamic2</span><br />
<span id="aaa-footer" style="background-color:green">Dynamic3</span><br />

<img id="foo" src="dummy.gif" />
<link id="bar" rel="stylesheet" type="text/css" href="dummy.css" />
<script id="baz" type="text/javascript" src="dummy.js"></script>
<form id="form">
<input type="image" id="hoge" value="submit" alt="go to same usecase" src="dummy.gif"/>
</form>
</body>
</html>
