<html xmlns:te="http://www.seasar.org/teeda/extension">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SelectManyCheckbox</title>
</head>
<body>
<form id="selectManyCheckboxForm">
<span id="aaa" te:layout="pageDirection">
	<input type="checkbox" name="aaa" value="0" checked="checked"/>aaa
	<input type="checkbox" name="aaa" value="1"/>bbb
	<input type="checkbox" name="aaa" value="2"/>ccc
</span>
<input type="submit" value="calculate" id="doAction"/>
<span id="aaaMessage"/>
</form>
</body>
</html>